$color--main-background: #fafafa;
$color--secondary-background: #394951;
$color--accent-background-dark: #2d3039;
$color--accent-background-light: #9aa5aa;

$color--text-main-light: #f0f0f0;
$color--titel-pop: #ff8673;
$color--titel-muted: #9d5c5f;
$color--titel-light: #ffaf89;

$screen-size--small: 700px;
$screen-size--medium: 900px;
$screen-size--big: 1100px;
