.advanced-described-gallery .advanced-gallery1 .tall-img1 img, .advanced-described-gallery .advanced-gallery1 .small-img1 img, .advanced-described-gallery .advanced-gallery1 .small-img2 img, .advanced-described-gallery .advanced-gallery1 .tall-img2 img, .advanced-described-gallery .advanced-gallery2 .small-img1 img, .advanced-described-gallery .advanced-gallery2 .tall-img1 img, .advanced-described-gallery .advanced-gallery2 .tall-img2 img, .advanced-described-gallery .advanced-gallery2 .small-img2 img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.described-gallery .picture-text, .about-section__text-container, .advanced-described-gallery .picture-text {
  text-align: center;
  padding: 40px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

main section {
  padding: 3em 2em;
}

@media (min-width: 1100px) {
  main section {
    padding: 98px 150px;
  }
}

.main-margin {
  max-width: 1140px;
  padding-right: 20px;
  padding-left: 20px;
}

.take-half {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.logo {
  font-family: "Unica One", cursive;
  width: 175px;
  height: 30px;
  background: #394951;
  color: #ff8673;
  text-align: center;
  font-style: normal;
  font-size: 26px;
}

a {
  text-decoration: none;
  color: #eaddd9;
  font-size: 14px;
  font-weight: bold;
}

h1 {
  font-size: 27px;
  font-weight: 700;
  margin-top: 0;
}

@media (min-width: 700px) {
  h1 {
    font-size: 52px;
  }
}

h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

@media (min-width: 700px) {
  h2 {
    font-size: 48px;
  }
}

@media (min-width: 1100px) {
  h2 {
    margin-bottom: 40px;
  }
}

h3 {
  font-weight: 700;
  font-size: 25px;
  margin-top: 0px;
  text-align: center;
}

@media (min-width: 700px) {
  h3 {
    font-size: 36px;
  }
}

p {
  font-size: 16px;
}

@media (min-width: 700px) {
  p {
    font-size: 17px;
  }
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article + article {
  margin-top: 40px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.advanced-described-gallery .advanced-gallery1 .tall-img1 img, .advanced-described-gallery .advanced-gallery1 .small-img1 img, .advanced-described-gallery .advanced-gallery1 .small-img2 img, .advanced-described-gallery .advanced-gallery1 .tall-img2 img, .advanced-described-gallery .advanced-gallery2 .small-img1 img, .advanced-described-gallery .advanced-gallery2 .tall-img1 img, .advanced-described-gallery .advanced-gallery2 .tall-img2 img, .advanced-described-gallery .advanced-gallery2 .small-img2 img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.described-gallery .picture-text, .about-section__text-container, .advanced-described-gallery .picture-text {
  text-align: center;
  padding: 40px;
}

.menu-nav {
  width: 100%;
}

@media (min-width: 700px) {
  .menu-nav {
    width: 40vw;
  }
}

@media (min-width: 1100px) {
  .menu-nav {
    width: 25vw;
  }
}

.menu-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
  width: 100%;
  padding: 0;
}

.menu-nav__list__item {
  margin-left: 10px;
}

.menu-nav__list__item a {
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
}

@media (min-width: 340px) {
  .menu-nav__list__item a {
    font-size: 16px;
  }
}

@media (min-width: 700px) {
  .menu-nav__list__item a:hover {
    color: #ff8673;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  min-height: 70px;
  padding: 30px;
  background: #394951;
}

@media (min-width: 700px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 70px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2d3039;
  padding: 30px;
}

footer .logo {
  margin-top: 60px;
  background: #2d3039;
}

footer .menu-nav {
  margin-top: 20px;
}

footer .menu-nav__list {
  list-style: none;
  width: 100%;
  padding: 0;
}

.hero-img-section {
  background-image: radial-gradient(circle at 50% 0, rgba(57, 73, 81, 0.5), rgba(12, 32, 42, 0.8) 74%), url(../img/hero/philipp-kammerer-6-mxb-m-z-q-8-e-unsplash.jpg);
  background-size: cover;
  background-position: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 50vw;
  max-height: 782px;
  min-height: 580px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 900px) {
  .hero-img-section {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.hero-img-section__text-container {
  color: #f0f0f0;
  font-weight: 700;
  text-align: center;
  margin: 10vw;
  margin-top: 100px;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
}

.hero-img-section__text-container * {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

@media (min-width: 700px) {
  .hero-img-section__text-container {
    max-width: 500px;
  }
}

@media (min-width: 900px) {
  .hero-img-section__text-container {
    margin-left: 100px;
  }
}

.hero-img-section__text-container__titel {
  color: #ff8673;
  margin: 0;
}

.hero-img-section__text-container__paragraf {
  margin: 0;
}

.advanced-described-gallery .advanced-gallery1 .tall-img1 img, .advanced-described-gallery .advanced-gallery1 .small-img1 img, .advanced-described-gallery .advanced-gallery1 .small-img2 img, .advanced-described-gallery .advanced-gallery1 .tall-img2 img, .advanced-described-gallery .advanced-gallery2 .small-img1 img, .advanced-described-gallery .advanced-gallery2 .tall-img1 img, .advanced-described-gallery .advanced-gallery2 .tall-img2 img, .advanced-described-gallery .advanced-gallery2 .small-img2 img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.described-gallery .picture-text, .about-section__text-container, .advanced-described-gallery .picture-text {
  text-align: center;
  padding: 40px;
}

.described-pictures h2,
.described-pictures h3 {
  color: #9d5c5f;
  padding-top: 20px;
}

@media (min-width: 700px) {
  .described-pictures h2,
  .described-pictures h3 {
    padding-top: 0px;
    padding-bottom: 20px;
  }
}

.described-pictures article {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (min-width: 900px) {
  .described-pictures article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 900px) and (min-width: 900px) {
  .described-pictures article:nth-of-type(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (min-width: 900px) and (min-width: 900px) {
  .described-pictures article:nth-of-type(odd) .picture-text {
    padding-left: 4em;
    padding-right: 0;
  }
}

@media (min-width: 900px) {
  .described-pictures article .picture-text {
    padding-left: 0;
    padding-right: 4em;
  }
}

.described-pictures article img {
  width: 100%;
  max-height: 400px;
}

.picture-gallery {
  background: #394951;
}

.picture-gallery h3 {
  color: #ff8673;
}

.picture-gallery .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.picture-gallery .img-container img {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-bottom: 1vw;
  max-width: 30%;
  max-height: 30%;
}

@media (min-width: 700px) {
  .picture-gallery .img-container img {
    max-width: 165px;
    max-height: 165px;
  }
}

.advanced-described-gallery .advanced-gallery1 .tall-img1 img, .advanced-described-gallery .advanced-gallery1 .small-img1 img, .advanced-described-gallery .advanced-gallery1 .small-img2 img, .advanced-described-gallery .advanced-gallery1 .tall-img2 img, .advanced-described-gallery .advanced-gallery2 .small-img1 img, .advanced-described-gallery .advanced-gallery2 .tall-img1 img, .advanced-described-gallery .advanced-gallery2 .tall-img2 img, .advanced-described-gallery .advanced-gallery2 .small-img2 img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.described-gallery .picture-text, .about-section__text-container, .advanced-described-gallery .picture-text {
  text-align: center;
  padding: 40px;
}

.described-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-block-size: 500px;
}

@media (min-width: 900px) {
  .described-gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.described-gallery .picture-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: left;
  padding-top: 0;
  -ms-grid-column: 1;
  grid-column: 1;
}

@media (min-width: 900px) {
  .described-gallery .picture-text {
    margin-right: 100px;
    padding-top: 20px;
  }
}

.described-gallery .picture-text h3 {
  color: #9d5c5f;
  text-align: left;
  font-size: 18px;
}

@media (min-width: 900px) {
  .described-gallery .picture-text h3 {
    font-size: 24px;
  }
}

.described-gallery .picture-text p {
  text-align: left;
}

.described-gallery .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-gap: 1em;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  min-block-size: 300px;
}

@media (min-width: 600px) {
  .described-gallery .gallery {
    -ms-grid-columns: (minmax(100px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

.described-gallery .gallery .small-img1 {
  position: relative;
  -ms-grid-row: 1;
  grid-row: 1;
  grid-column: auto;
}

.described-gallery .gallery .small-img1 img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.described-gallery .gallery .small-img2 {
  position: relative;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

.described-gallery .gallery .small-img2 img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.described-gallery .gallery .tall-img {
  position: relative;
  display: none;
}

@media (min-width: 600px) {
  .described-gallery .gallery .tall-img {
    display: block;
    grid-row: span 2;
    -ms-grid-column: 3;
    grid-column: 3;
  }
}

.described-gallery .gallery .tall-img img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.described-gallery .gallery .wide-img {
  position: relative;
  -ms-grid-row: 2;
  grid-row: 2;
  grid-column: span 2;
}

.described-gallery .gallery .wide-img img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.advanced-described-gallery .advanced-gallery1 .tall-img1 img, .advanced-described-gallery .advanced-gallery1 .small-img1 img, .advanced-described-gallery .advanced-gallery1 .small-img2 img, .advanced-described-gallery .advanced-gallery1 .tall-img2 img, .advanced-described-gallery .advanced-gallery2 .small-img1 img, .advanced-described-gallery .advanced-gallery2 .tall-img1 img, .advanced-described-gallery .advanced-gallery2 .tall-img2 img, .advanced-described-gallery .advanced-gallery2 .small-img2 img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.described-gallery .picture-text, .about-section__text-container, .advanced-described-gallery .picture-text {
  text-align: center;
  padding: 40px;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-block-size: 300px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  background: #394951;
}

@media (min-width: 900px) {
  .about-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 1fr;
        grid-template-columns: 40% 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

.about-section__img-container {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.about-section__img-container__img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.about-section__text-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

@media (min-width: 900px) {
  .about-section__text-container {
    margin-left: 10vw;
  }
}

.about-section__text-container__section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: left;
  -ms-grid-row: 1;
  grid-row: 1;
}

.about-section__text-container__section1__titel {
  color: #ff8673;
  text-align: left;
  font-size: 18px;
}

@media (min-width: 900px) {
  .about-section__text-container__section1__titel {
    font-size: 24px;
  }
}

.about-section__text-container__section1__paragraf {
  font-size: 16px;
  color: #f0f0f0;
}

.about-section__text-container__section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: left;
  -ms-grid-row: 2;
  grid-row: 2;
}

.about-section__text-container__section2__titel {
  color: #ff8673;
  text-align: left;
  font-size: 18px;
}

@media (min-width: 900px) {
  .about-section__text-container__section2__titel {
    font-size: 24px;
  }
}

.about-section__text-container__section2__paragraf {
  font-size: 16px;
  color: #f0f0f0;
}

.advanced-described-gallery .advanced-gallery1 .tall-img1 img, .advanced-described-gallery .advanced-gallery1 .small-img1 img, .advanced-described-gallery .advanced-gallery1 .small-img2 img, .advanced-described-gallery .advanced-gallery1 .tall-img2 img, .advanced-described-gallery .advanced-gallery2 .small-img1 img, .advanced-described-gallery .advanced-gallery2 .tall-img1 img, .advanced-described-gallery .advanced-gallery2 .tall-img2 img, .advanced-described-gallery .advanced-gallery2 .small-img2 img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.described-gallery .picture-text, .about-section__text-container, .advanced-described-gallery .picture-text {
  text-align: center;
  padding: 40px;
}

.advanced-described-gallery {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1em;
  min-block-size: 300px;
}

@media (min-width: 900px) {
  .advanced-described-gallery {
    -ms-grid-columns: (minmax(145px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(145px, 1fr));
  }
}

.advanced-described-gallery .advanced-gallery1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-gap: 1em;
  -ms-grid-rows: (minmax(195px, 1fr))[3];
      grid-template-rows: repeat(3, minmax(195px, 1fr));
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 900px) {
  .advanced-described-gallery .advanced-gallery1 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.advanced-described-gallery .advanced-gallery1 .tall-img1 {
  position: relative;
  grid-row: span 2;
  -ms-grid-column: 1;
  grid-column: 1;
  display: none;
}

@media (min-width: 900px) {
  .advanced-described-gallery .advanced-gallery1 .tall-img1 {
    display: block;
  }
}

.advanced-described-gallery .advanced-gallery1 .small-img1 {
  position: relative;
  -ms-grid-row: 1;
  grid-row: 1;
  grid-column: auto;
}

@media (min-width: 900px) {
  .advanced-described-gallery .advanced-gallery1 .small-img1 {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.advanced-described-gallery .advanced-gallery1 .small-img2 {
  position: relative;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

.advanced-described-gallery .advanced-gallery1 .tall-img2 {
  position: relative;
  grid-row: span 2;
  -ms-grid-column: 2;
  grid-column: 2;
  display: none;
}

@media (min-width: 900px) {
  .advanced-described-gallery .advanced-gallery1 .tall-img2 {
    display: block;
  }
}

.advanced-described-gallery .picture-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-left: 10px;
  text-align: left;
  height: 60%;
  width: 70%;
  -ms-flex-item-align: center;
      align-self: center;
  z-index: 1;
  background: #9aa5aa;
}

@media (min-width: 500px) {
  .advanced-described-gallery .picture-text {
    height: 50%;
    width: 70%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 900px) {
  .advanced-described-gallery .picture-text {
    height: 60%;
    width: 40%;
    font-size: 10px;
  }
}

@media (min-width: 900px) {
  .advanced-described-gallery .picture-text {
    height: 50%;
    width: 40%;
  }
}

.advanced-described-gallery .picture-text p {
  color: #f0f0f0;
  font-size: 14px;
}

.advanced-described-gallery .picture-text h3 {
  color: #ffaf89;
  margin-bottom: 0;
  font-size: 18px;
  text-align: left;
}

@media (min-width: 900px) {
  .advanced-described-gallery .picture-text h3 {
    font-size: 24px;
  }
}

.advanced-described-gallery .advanced-gallery2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-gap: 1em;
  -ms-grid-rows: (minmax(195px, 1fr))[3];
      grid-template-rows: repeat(3, minmax(195px, 1fr));
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 900px) {
  .advanced-described-gallery .advanced-gallery2 {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.advanced-described-gallery .advanced-gallery2 .small-img1 {
  position: relative;
  -ms-grid-row: 1;
  grid-row: 1;
  grid-column: auto;
}

@media (min-width: 900px) {
  .advanced-described-gallery .advanced-gallery2 .small-img1 {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.advanced-described-gallery .advanced-gallery2 .tall-img1 {
  position: relative;
  grid-row: span 2;
  -ms-grid-column: 2;
  grid-column: 2;
  display: none;
}

@media (min-width: 900px) {
  .advanced-described-gallery .advanced-gallery2 .tall-img1 {
    display: block;
  }
}

.advanced-described-gallery .advanced-gallery2 .tall-img2 {
  position: relative;
  grid-row: span 2;
  -ms-grid-column: 1;
  grid-column: 1;
  display: none;
}

@media (min-width: 900px) {
  .advanced-described-gallery .advanced-gallery2 .tall-img2 {
    display: block;
  }
}

.advanced-described-gallery .advanced-gallery2 .small-img2 {
  position: relative;
  -ms-grid-row: 3;
  grid-row: 3;
  grid-column: auto;
}

@media (min-width: 900px) {
  .advanced-described-gallery .advanced-gallery2 .small-img2 {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}
/*# sourceMappingURL=style.css.map */